[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "*"
django = "==4.2.5"
djangorestframework = "==3.14.0"
django-filter = "*"
drf-writable-nested = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-multiselectfield = "*"
django-simple-history = "*"
huey = "==2.4.5"
django-huey-monitor = "*"
drf-flex-fields = "*"
jsonpath-ng = "*"
httpx = "*"
lxml = "*"
django-computedfields = "*"
cssselect = "*"
django-auto-prefetching = "*"
django-dynamic-preferences = "*"
openpyxl = "*"
cachetools = "*"
selenium = "*"
selenium-driver-updater = "*"
daphne = "*"
cffi = "*"
packaging = "*"
redis = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"
coverage = "*"
factory_boy = "*"
black = "*"
mypy = "*"
pylint = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
